Repository Fakhatova/Rancid-Tomatillos, pull requests merged in 2021-09, with the labels that each got.

#33 Refactor/movie details
  src/API/ApiCalls.js
  src/API/AppiCalls.js
  src/App.js
  src/MovieCard/MovieCard.js
  src/MovieDetails/MovieDetails.js
Labels: Iteration 4, Component, API request, React Router

#34 Feature/route error handling
  src/API/ApiCalls.js
  src/MovieDetails/MovieDetails.js
  src/MovieDetails/PageNotFound.js
Labels: Iteration 4, Component, API request, React Router

#35 Feature/description testing
  cypress/integration/description_spec.js
  cypress/integration/error_handling.js
  cypress/integration/mainIndex_spec.js
  cypress/support/commands.js
  src/MovieDetails/PageNotFound.js
Labels: Component, Cypress

#36 Feature/component styling
  src/App.css
  src/App.js
  src/Footer/Footer.css
  src/MovieCard/MovieCard.css
  src/MovieCard/MovieCard.js
  src/MovieDetails/MovieDetails.css
  src/MovieDetails/MovieDetails.js
  src/MovieList/MovieList.css
  src/MovieList/MovieList.js
  src/Nav/Nav.css
  src/Nav/Nav.js
Labels: styling, Component

#44 Feature/description
  public/favicon.ico
  public/index.html
  public/logo192.png
  public/logo512.png
  src/Footer/Footer.css
  src/MovieCard/MovieCard.css
  src/MovieCard/MovieCard.js
  src/MovieDetails/MovieDetails.css
  src/MovieDetails/MovieDetails.js
  src/MovieList/MovieList.css
  src/Nav/Nav.css
  src/Nav/Nav.js
Labels: enhancement

#45 Refactor/movie details styling
  src/MovieDetails/MovieDetails.css
  src/MovieDetails/MovieDetails.js
  src/Nav/Nav.js
Labels: styling

#46 Feature/cypress missing test
  cypress/integration/description_spec.js
  cypress/integration/error_handling.js
  cypress/integration/mainIndex_spec.js
  src/MovieCard/MovieCard.js
Labels: Cypress

#47 Refactor/movie detail page
  src/MovieCard/MovieCard.js
  src/MovieDetails/CurrencyElement.js
  src/MovieDetails/GenreList.js
  src/MovieDetails/MovieDetails.js
  src/Rating/Rating.js
Labels: Component

#48 Feature/read.me
  README.md
  src/Assets/Screenshot 2021-09-03 at 2.23.08 PM.png
Labels: READ.ME
